@font-face {
        font-family: 'HelveticaNeueLT Pro 67 MdCn';
        src: url('HelveticaNeueLTPro-MdCn.eot');
        src: url('HelveticaNeueLTPro-MdCn.eot?#iefix') format('embedded-opentype'),
                url('HelveticaNeueLTPro-MdCn.woff') format('woff'),
                url('HelveticaNeueLTPro-MdCn.ttf') format('truetype');
        font-weight: 500;
        font-sty/le: normal;
}

.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -0.6%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
/*  display: table-cell; */
  vertical-align: middle;
  margin-top:8.0em;
  z-index: 99999;
}


.modal-body {
  width:100%;
  display:block;
  padding-left:0.5%;
}

.modal-default-button {
  float: right;
}

.modal-container * {
   box-sizing: border-box;
   z-index: 99999;
}

.modal-container {
  min-height: 25%;
  min-width:20.5em;
  max-width: 18.5%;
  padding-left:0px;
  width:100%;
  margin: 0px auto;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  cursor: pointer;
  overflow-y: auto;
  z-index: 9999;
  font-family:'Lato', 'HelveticaNeueLT Pro 67 MdCn', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  background-color: #f6f6f6;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




.modal-container.active {
    opacity: 1;
    visibility: visible;
}
.modal-container .user-modal {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
    background-color: #f6f6f6;
    cursor: initial;
}
.modal-container .form-login, .modal-container .form-password {
    width:100%;
}
.modal-container .form-register {
    padding: 2.2em 25px 1.0em 25px ;
    min-height:100%;
}
.modal-container .form-login.active, .modal-container .form-register.active, .modal-container .form-password.active {
    display: block;
}
.modal-container ul.form-switcher {
    margin: 0;
    padding: 0;
}
.modal-container ul.form-switcher li {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
    margin: 0;
}
.modal-container ul.form-switcher li a {
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #666666;
    background-color: #dddddd;
    text-align: center;
}
.modal-container ul.form-switcher li a.active {
    color: #000000;
    background-color: #f6f6f6;
}
.modal-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
}
.modal-container input[type="submit"] {
    color: #f6f6f6;
    border: 0;
    margin-bottom: 0;
    background-color: #38A99C;
    cursor: pointer;
}
.modal-container input[type="submit"]:hover {
    background-color: #3aa771;
}
.modal-container input[type="submit"]:active {
    background-color: #379d6b;
}
.modal-container .links {
    text-align: center;
    padding-top: 25px;
}
.modal-container .links a {
    color: #38A99C;
}
.modal-container input[type="submit"].disabled {
    background-color: #98d6b7;
}
.modal-header {
    background:#F6F6F6;
    color: #3AA771;
    font-weight:bold;
    margin-bottom:10%;
}
.modal-body {
    background:#F6F6F6;
}
.modal-header .header-left {
  position:relative;
  width:92%;
  padding-top:3%;
  padding-bottom:1%;
  margin-top:0%;
  color:#38A99C;
  margin-bottom:3%;
  float:left;
}
.modal-header .header-right {
  position:relative;
  width:7%;
  padding-left:4%;
  padding-top:1%;
  float:left;
}
.clear {
  float:none;
  clear:both;
}
.modal-header h3, .modal-header h2 {
   padding-left:5%;
   color:#38A99C;
   font-weight:bold;
   font-family:'Lato', 'HelveticaNeueLT Pro 67 MdCn', 'Helvetica', 'Arial', 'sans-serif';
}

.modal-container .google {
   padding: 10px;
   background-image: url('http://divorcesus.com/media/images/google.gif');
   background-repeat:no-repeat;
   margin-right:0px;
   display:block;
   text-indent:-9999px;
   text-transform:capitalize;
   height:25%;
}

.modal-container .facebook {
   padding: 10px;
   background-image: url('http://divorcesus.com/media/images/facebook.gif');
   background-repeat:no-repeat;
   margin-right:0px;
   display:block;
   text-indent:-9999px;
   text-transform:capitalize;
   height:25%;
}

