
{% extends "base_dashboard.html" %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% load bootstrap3 %}
{% load static %}
{% load gui_extras %}
{% block content %}
<nav id="menu" class="menu">
  <a href="https://github.com/mango/slideout" target="_blank">
    <header class="menu-header">
      <span class="menu-header-title">


 <!-- app -->
           <!-- use the modal component, pass in the prop -->

         {% if user.is_authenticated %}
         {% endif %}

        <!-- app -->
        <div id="app" style="float:left;padding-top:3.5%;">
              <!-- use the modal component, pass in the prop -->
             {% if logout %}
             <div style="float:left;margin-top:2.5%;">
                <img src="{% user_meta user_id 3 %}" class="avatar" />
             </div>
             <div style="float:left;color:#ffffff;font-weight:bold;margin-top:2.5%;padding-top:1.3em;padding-bottom:1.3em;">
              {% user_meta user_id 1 %}
            &nbsp;
            {% user_meta user_id 2 %}
  
             </div>
             <div class="clear"></div>
                &nbsp;&nbsp;
            {% endif %}
  
               <modal :show.sync="showModal">
               <!--
/                  you can use custom content here to overwrite
                  default content
                     -->

              </modal>


       </div>
       <div class="clear"></div>





      </span>
    </header>
  </a>
<div id="navigation">
    
    <a class="navigation-head" href="#" onclick="openmenu('home');swap('sectionOneLinks');collapse('sectionTwoLinks');collapse('sectionThreeLinks');collapse('sectionFourLinks');collapse('sectionFiveLinks');return false;">
           <div style="width:100%;">

              <div style="width:20%;float:left;padding-top:15px;"><img src="/media/images/home.png" height="20" width="20" /></div>
              <div style="width:60%;float:left;margin-top:-20px;">&nbsp;&nbsp;<h3 class="menu-section-title">Home</h3></div>
              <div class="clear"></div>
           </div>
    </a>

    <ul class="menu-section-list" id="sectionOneLinks" style="display: none;">
        <li><a href="#" onclick="openmenu('profile');">Profile</a></li>
        <li><a href="#" onclick="openmenu('preferences');">Preferences</a></li>
        <li><a href="#" onclick="openmenu('addresses');">Addresses</a></li>
        <li><a href="#" onclick="openmenu('contacts');">Contacts</a></li>
    </ul>


    <a class="navigation-head" href="#" onclick="swap('sectionTwoLinks');collapse('sectionOneLinks');collapse('sectionThreeLinks');collapse('sectionFourLinks');collapse('sectionFiveLinks');return false;">
           <div style="width:100%;">

              <div style="width:20%;float:left;padding-top:15px;"><img src="/media/images/mastercard.png" height="20" width="20" /></div>
              <div style="width:60%;float:left;margin-top:-20px;">&nbsp;&nbsp;<h3 class="menu-section-title">Payments</h3></div>
              <div class="clear"></div>
           </div>
    </a>
    <ul class="menu-section-list" id="sectionTwoLinks" style="display: none;">
        <li><a href="#" onclick="openmenu('payments');">Payment History</a></li>
        <li><a href="#" onclick="openmenu('paymentmethods');">Add Payment Method</a></li>
        <li><a href="#" onclick="openmenu('dispute');">Dispute Transaction</a></li>
        <li><a href="#" onclick="openmenu('billingaddresses');">Billing Addresses</a></li>
    </ul>


    <a class="navigation-head"  href="#" onclick="swap('sectionThreeLinks');collapse('sectionOneLinks');collapse('sectionTwoLinks');collapse('sectionFourLinks');collapse('sectionFiveLinks');return false;">
           <div style="width:100%;">
              <div style="width:20%;float:left;padding-top:15px;"><img src="/media/images/cases.png" height="20" width="20" /></div>
              <div style="width:60%;float:left;margin-top:-20px;">&nbsp;&nbsp;<h3 class="menu-section-title">Cases</h3></div>
              <div class="clear"></div>
           </div>
    </a>
    <ul class="menu-section-list" id="sectionThreeLinks" style="display: none;">
      <li><a href="#" onclick="openmenu('requestinfo');">Request Info</a></li>
      <li><a href="#" onclick="openmenu('checkstatus');">Check Status</a></li>
      <li><a href="#" onclick="openmenu('similarcases');">Similar Cases</a></li>
    </ul>


    <a class="navigation-head"  href="#" onclick="swap('sectionFourLinks');collapse('sectionOneLinks');collapse('sectionThreeLinks');collapse('sectionTwoLinks');collapse('sectionFiveLinks');return false;">
           <div style="width:100%;">
              <div style="width:20%;float:left;padding-top:15px;"><img src="/media/images/post.png" height="20" width="20" /></div>
              <div style="width:60%;float:left;margin-top:-20px;">&nbsp;&nbsp;<h3 class="menu-section-title">Posts</h3></div>
              <div class="clear"></div>
           </div>
    </a>

    <ul class="menu-section-list" id="sectionFourLinks" style="display: none;">
      <li><a href="#" onclick="openmenu('allposts');">All Posts</a></li>
      <li><a href="#" onclick="openmenu('newpost');">New Post</a></li>
      <li><a href="#" onclick="openmenu('editpost');">Edit Post</a></li>
    </ul>


    <a class="navigation-head"  href="#" onclick="swap('sectionFiveLinks');collapse('sectionOneLinks');collapse('sectionThreeLinks');collapse('sectionFourLinks');collapse('sectionTwoLinks');return false;">

           <div style="width:100%;">

              <div style="width:20%;float:left;padding-top:15px;"><img src="/media/images/notify.png" height="20" width="20" /></div>
              <div style="width:60%;float:left;margin-top:-20px;">&nbsp;&nbsp;<h3 class="menu-section-title">Notifications</h3></div>
              <div class="clear"></div>
           </div>

    </a>
    <ul class="menu-section-list" id="sectionFiveLinks" style="display: none;">
      <li><a href="#" onclick="openmenu('onandoff');">Turn ON/OFF</a></li>
      <li><a href="#" onclick="openmenu('personal');">Personal Notifications</a></li>
      <li><a href="#" onclick="openmenu('incoming');">Respond Incoming</a></li>
      <li><a href="#" onclick="openmenu('notify');">Notify</a></li>
    </ul>
</div>
</nav>

<header class="header-hamburger fixed">
 <div class="hamburger-wrapper">
   <button class="btn-hamburger js-slideout-toggle"></button> 
 </div>
 <div class="bar-spacer">&nbsp;&nbsp;
 </div>
 <div class="signout-wrapper" style="min-width:170px;">

          <div style="float:left;width:30px;margin-right:-150px;margin-left:-150px;margin-top:-1.3em;">
                 <img src="/media/images/on_color_large.png" height="50" width="50" alt="Incoming Notifications" />
          </div>


           <div style="float:left;width:30px;margin-right:15px;margin-left:-80px;margin-top:-1.3em;" alt="Private Messages">
                 <img src="/media/images/big_icon_network.png" height="50" width="50" />
           </div>
           <div style="float:left;width:60px;">
             {% if logout %}
                <a href="/signout"  class="btn2" style="color:#ffffff;font-weight:bold;text-decoration:none;margin-top:-0.3em;position:fixed;" id="show-modal" @click="showModal = false">Sign Out</a>

            {% endif %}
          </div>
          <div class="clear"></div>
 </div>
 <div class="clear"></div>



</header>


<main id="main" class="panel">
  <header class="panel-header">
    <div class="panel-actions">
    </div>
  </header>

  <div class="panel-demo iphone">
  &nbsp;
  <br/><br/>
  &nbsp;
  </div>

<div class="container">
    <div class="row">

  <section class="box">
    <div class="box-content">

        <div class="col-md-9 well admin-content" id="home">
            <div style="width:28%;float:left;margin:0% 1% 0% 1%;">

                  <div class="panel panel-default">
                           <div class="header">Cases and Information</div>
                           <div class="content">Panel Content</div>
                  </div>
            </div>
            <div style="width:28%;float:left;margin:0% 1% 0% 1%;">

                  <div class="panel panel-default">
                           <div class="header">Transactions</div>
                           <div class="content">Panel Content</div>
                  </div>
            </div>
            <div style="width:28%;float:left;margin:0% 1% 0% 1%;">

                  <div class="panel panel-default">
                           <div class="header">Communication</div>
                           <div class="content">Panel Content</div>
                  </div>
            </div>
            <div style="clear:both;"></div>
        </div>

        </div>
        <div class="col-md-9 well admin-content" id="profile">
            Profile
        </div>
        <div class="col-md-9 well admin-content" id="preferences">
            Preferences
        </div>
        <div class="col-md-9 well admin-content" id="addresses">
            Addresses
        </div>
        <div class="col-md-9 well admin-content" id="contacts">
            Contacts
        </div>
        <div class="col-md-9 well admin-content" id="payments">
            Payments
        </div>
        <div class="col-md-9 well admin-content" id="paymentmethods">
            Payment Methods
        </div>
        <div class="col-md-9 well admin-content" id="dispute">
            Dispute
        </div>
        <div class="col-md-9 well admin-content" id="billingaddresses">
            Billing Addresses
        </div>
        <div class="col-md-9 well admin-content" id="requestinfo">
            Request Info
        </div>
        <div class="col-md-9 well admin-content" id="checkstatus">
            Check Status
        </div>
        <div class="col-md-9 well admin-content" id="similarcases">
            Similar Cases
        </div>
        <div class="col-md-9 well admin-content" id="allposts">
            All Posts
        </div>
        <div class="col-md-9 well admin-content" id="newpost">

           <div id="appform">

            <div style="float:left;width:45%;">
           	<div class="form-header">
                                   <h4>New post</h4>
                 </div>

               <validator name="validation1">
                <div class="errors">
                     <validator-errors :validation="$validation1"></validator-errors>
                </div>

               <form class="form" novalidate>
                        <input type="hidden" name="post_id" id="post_id" value="" />
	         	<p class="name">
		            	<input type="text" id="posttitle" name="posttitle" v-validate:posttitle=['nonempty'] />
             			<label for="title">Title</label>
        		</p>
		
	         	<p class="category">
<!--
		         	<input type="text" name="category" id="category" placeholder="category" />
-->
                                <select name="category_id" id="category_id" class="category" v-validate:category_id=['numeric']>
                                  {% for category in categories %}
                                       <option value="{{ category.id }}">{{ category.name }}</option>
                                  {% endfor %}
                                </select>
	           		<label for="email">Category</label>
	        	</p>
		
	          	<p class="link">
		          	<input type="text" name="link" id="link"  v-validate:link=['url'] />
	         		<label for="link">Link</label>
            		</p>		
	
	           	<p class="text">
		         	<textarea name="postbody" id="postbody" width="40"  /></textarea>
	          	</p>

                        <p class="submit">
                                <input type="button" v-on:click="editblog" value="Save" id='edit_post' style="display:none;" />
                        </p>
	
	
	         	<p class="submit">
		         	<input type="button" v-on:click="submitblog" value="Post" id='post' v-if="$validation1.valid" />
	            	</p>
                          </p>
           	</form>
               </validator>
               </div>
              </div>

               <div style="float:left;width:10%;">&nbsp;</div>
               <div style="float:left;width:40%;">
                     <div class="card card-3" style="min-height:700px;width:90%;">
                             <div class="panel-header">                   
                                   <h4>All your posts</h4>
                             </div>
                             <div class="panel-posts" id="panel-posts">
                             </div>
                     </div>
               </div>
               <div class"clear"></div>
        </div>
       </div>

        <div class="col-md-9 well admin-content" id="editpost">
            Edit Post
        </div>
        <div class="col-md-9 well admin-content" id="incoming">
            Incoming Messages
        </div>
        <div class="col-md-9 well admin-content" id="notify">
            Notify us
        </div>
        <div class="col-md-9 well admin-content" id="onandoff">
            Turn notifications on and off
        </div>

        <div class="col-md-9 well admin-content" id="personal">
            Personal Notifications
        </div>


    </div>

  </section>

  <footer class="panel-footer">
<!--    
<p>with <span class="heart">❤</span> by <a href="https://getmango.com/en" target="_blank">Mango</a></p>
-->
  </footer>
 

</div>
</div>
</main>
{% endblock %}
